<h1>Submit a new song</h1>

<form action="/songs" method="POST">
    <h4>Song Name: <input type="text" id="Name" name="song[name]"></h4>
    <h4>Artist Name: <input type="text" id="Artist Name" name="artist[name]"></h4>
    <h4>Genres:</h4>
    <% Genre.all.each do |genre| %>
        <p> <%= genre.name %> <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"></p>
    <% end %>
    <button type="submit" id="Submit">Create</button>
</form>