<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
     <a href="/artists">All Artists</a>
     <a href="/songs">All Songs</a>
     <a href="/genres">All Genres</a> <br>
     <a href="/artists/new">New Artist</a>
     <a href="/songs/new">New Song</a>
     <a href="/genres/new">New Genre</a>
    <%= yield %>
  </body>
</html>